## Ignore data files

/data/

## Ignore jupyter notebook checkpoint files

.ipynb_checkpoints

## Ignore miscellaneous RStudio notebook files

*.nb.html
*.knit.md

## Ignore MCMC trace files
*MCMCtrace.pdf

## Ignore images
*.png

## Ignore temporary files folder

/code/processing/tempFiles