## Ignore data files

/data/

## Ignore jupyter notebook checkpoint files

.ipynb_checkpoints

## Ignore miscellaneous RStudio notebook files

*.nb.html

## Ignore temporary files folder

/code/processing/tempFiles